.menucontainer {
  display: flex;
  width: 90%;
  overflow-x: auto;
}
.container_info {
  width: 200px;
  background-color: #7788994a;
  margin: 5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.info h2 {
  font-size: 1.3rem;
}
.info p {
  font-size: 1rem;
}
.container_info button {
  margin: 8px 0;
}
@media (min-width: 768px) {
  .menucontainer {
    overflow: hidden;
    flex-wrap: wrap;
  }
  .container_info {
    width: 160px;
  }
  .info h2 {
  }
  .info p {
  }
  .container_info button {
  }
}
@media (min-width: 768px) {
  .menucontainer {
  }
  .container_info {
    width: 155px;
  }
  .info h2 {
  }
  .info p {
  }
  .container_info button {
  }
}
@media (min-width: 1280px) {
  .menucontainer {
    justify-content: center;
  }
  .container_info {
  }
  .info h2 {
  }
  .info p {
  }
  .container_info button {
  }
}
