.container_busca {
  display: flex;
  margin: 25px 0;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
  line-height: 2;
}
.container_busca input {
  height: 26px;
  font-size: 1rem;
}
.container_busca button {
}
@media (min-width: 768px) {
  .container_busca {
    justify-content: center;
  }
  .container_busca input {
  }
}
