.main_container {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
}
.cabeçalho {
  font-size: 40px;
  color: white;
  text-align: center;
  background-color: #00013c;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  color: white;
}
.subtotal {
  display: flex;
  width: 80%;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  flex-wrap: wrap;
}
.container_showsale {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}
.showsale_carrinho {
  width: 150px;
  background-color: #7788994a;
  margin: 5px;
}
.showsale_carrinho h2 {
  font-size: 1.3rem;
}
.showsale_carrinho p {
  font-size: 1rem;
}
button {
  background-color: #1480fb;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  font-size: 1rem;
  width: 100px;
}

@media (min-width: 768px) {
  .main_container {
  }
  .cabeçalho {
  }
  .App {
    justify-content: flex-start;
  }
  .subtotal {
    background-color: #00013c;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .container_showsale {
  }
  .showsale_carrinho {
  }
  .showsale_carrinho h2 {
  }
  .showsale_carrinho p {
  }
  button {
  }
}
@media (min-width: 1280px) {
  .main_container {
  }
  .cabeçalho {
  }
  .App {
    justify-content: flex-start;
  }
  .subtotal {
    height: 60px;
    width: 90%;
  }
  .container_showsale {
  }
  .showsale_carrinho {
  }
  .showsale_carrinho h2 {
  }
  .showsale_carrinho p {
  }
  button {
  }
}
