.modal-pai {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000bd;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.modal {
  background-color: white;
  width: 90%;
  min-height: 400px;
  color: black;
  margin-top: 100px;
  max-height: 600px;
  overflow: scroll;
}
.botao-fechar {
  text-align: center;
  position: sticky;
  bottom: 0;
  border-top: 2px dotted #00013c;
  padding: 8px;
  background-color: white;
  margin-top: 8px;
}

.tabela {
  margin: 0 auto;
  width: 95%;
}
table,
th,
td {
  text-align: center;
}
caption {
  padding: 10px;
  background-color: #d3d3d324;
}
.coluna_Id {
  width: 30px;
}
.coluna_detalhes {
  width: 150px;
}
.coluna_price {
  width: 50px;
}
.detalhes_item-principal {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 2;
}
.detalhes_item-categoria {
  margin: 0;
}

.tabela_botão-remover {
  width: 20px;
  height: 20px;
}
@media (min-width: 768px) {
  .modal-pai {
  }
  .modal {
  }
  .botao-fechar {
  }

  .tabela {
  }
  table,
  th,
  td {
  }
  caption {
    position: sticky;
    top: 0;
    background-color: #efeeee;
  }
  .coluna_Id {
  }
  .coluna_detalhes {
    width: 330px;
  }
  .coluna_price {
  }
  .detalhes_item-principal {
  }
  .detalhes_item-categoria {
  }

  .tabela_botão-remover {
  }
}
@media (min-width: 1280px) {
  .modal-pai {
  }
  .modal {
  }
  .botao-fechar {
  }

  .tabela {
  }
  table,
  th,
  td {
    font-size: 18px;
  }
  caption {
  }
  .coluna_Id {
  }
  .coluna_detalhes {
    width: 450px;
  }
  .coluna_price {
  }
  .detalhes_item-principal {
    font-size: 22px;
  }
  .detalhes_item-categoria {
  }

  .tabela_botão-remover {
  }
}
